.service-type_title{
    background-color: dodgerblue;
    height: 7rem;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    padding-top: 1rem;
}
.service-type_menu{
    height: 23rem;
    border: 1px solid dodgerblue;
    border-radius: 20px;
    margin-top: 1rem;
    padding: 1rem;
}


